html {
  font-size: 10px;
  background: url('https://i.pinimg.com/originals/45/71/da/4571da034ee71774cd41c4ee4462b8e0.jpg') bottom center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.displayBoard {
	display: flex;
	align: center;
	justify-content: center;
	width: auto;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 47vh;
  align-items: center;
  justify-content: center;
}


.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.pressed {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

